<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MIT Health Datathon 2023">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MIT Health Datathon 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">

    <link rel="icon" href="static/img/favicon.png">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a target="_blank" href="https://criticaldata.mit.edu/">
                    <img src="static/img/logo.svg" height= "40" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Mentors">Mentors</a></li>
                        <li><a href="#Schedule">Schedule</a></li>
                        <li><a href="#Publications">Background</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        <li><a href="#Partners">Partners</a></li>
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/img/hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <span><b>May 18 - 19, 2023</b></span>
                        <h2>
                          MIT Health
                          <br>
                          Datathon '23
                        </h2>
                        <a href="#About" class="primary-btn">Let's Go!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Counter Section Begin -->
    <section class="counter-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="counter-text">
                        <span>This Year's Edition</span>
                        <h3>Riverfront Office Park<br>Cambridge, MA</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="cd-timer" id="countdown">
                        <div class="cd-item">
                            <span>40</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>46</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>32</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Home About Section Begin -->
    <section id="About" class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="static/img/pulse_ox.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2 >Patient Safety through a Health Equity Lens</h2>
                        <p>The MIT Health Datathon will showcase the value of harnessing the talent 
                          and perspectives of students from different disciplines and backgrounds in understanding 
                          Patient Safety from a Health Equity lens. Built on the principles of <b>Open Science, 
                          Citizen Science, and Open Innovation</b>, this datathon seeks to reframe the issue of 
                          patient safety with a stronger focus on health disparities, since treatment injuries 
                          disproportionately affect marginalized patient populations.</p>
                          <p>
                            The event will bring together students from underrepresented groups and Health Equity investigators. 
                            To <b>capture diverse perspectives</b>, we will involve professionals across several disciplines:
                          </p>
                        <ul>
                            <li><span class="icon_check"></span> Physicians</li>
                            <li><span class="icon_check"></span> Nurses</li>
                            <li><span class="icon_check"></span> Pharmacists</li>
                            <li><span class="icon_check"></span> Social Workers</li>
                            <li><span class="icon_check"></span> Health Equity Researchers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Challenge Section Begin -->
    <section id="Challenge" class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>The Challenge</h2>
                            <p>
                                Patients of color often have falsely elevated O<sub>2</sub> readings as a result
                                of limitations in pulse oximetry performance across different ethinicities. Focusing
                                on Patient Safety, the main challenge of this Datathon will be to create <b>Correction
                                Models for Pulse Oximetry</b> that map SaO<sub>2</sub> from SpO<sub>2</sub> measurements.
                            </p>
                            <p>
                                The participating teams will be composed of <b>High School students and Computer Science 
                                undergraduate students</b>. Mentors who appreciate and understand Patient Safety will bring
                                their unique perspectives, experience, and critical thinking to the table!
                            </p>
                            <p>
                                As we believe that only <b>reproducible, transparent research</b> can actually help advance the field,
                                we share all our code in open-source. All the data preparation and team's code will be 
                                made available on GitHub.
                            </p>
                          <p>
                            <a target="_blank" href="https://github.com/MIT-Health-Datathon-2023" class="primary-btn"><i class="fa fa-github"></i>   Code Repository</a>
                          </p>
                        

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="static/img/data_science.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Team Member Section Begin -->
    <section id="Mentors" class="team-member-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 >The Mentors</h2>
                        <p>This is our team of experts, responsible for guiding the participating teams</p>
                    </div>
                </div>
            </div>
        </div>
        {%for i in range(n_mentors)%}
        <div class="member-item set-bg" data-setbg={{mentors.iloc[i]['Photo']}}>
            <div class="mi-text">
                <h5>{{mentors.iloc[i]['Name']}}</h5>
                <span>{{mentors.iloc[i]['Affiliation']}}</span>
            </div>
        </div>
        {%endfor%}

        
    </section>
    <!-- Team Member Section End -->

    <!-- Schedule Section Begin -->
    <section id="Schedule" class="schedule-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 >Schedule</h2>
                        <p>Two intensive days of health data analysis, networking, and discussion</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <h5>Day 1</h5>
                                    <p>Thursday, May 18, 2023</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <h5>Day 2</h5>
                                    <p>Friday, May 19, 2023</p>
                                </a>
                            </li>
                            
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <table class="table table-hover">
                                    <thead><tr>
                                        <th width="30%" class="left-col"><i class="fa fa-clock-o"></i>  Time</th>
                                        <th width="40%"><i class="fa fa-user"></i>  Activity </th>
                                        <th width="30%"><i class="fa fa-map-marker"></i>  Local</th>
                                    <tr></thead>
                                    {%for i in range(n_s1)%}
                                    <tr>
                                        <th>{{sch1.iloc[i]['Hours']}}</th>
                                        <th>{{sch1.iloc[i]['Activity']}}</th>
                                        <th>{{sch1.iloc[i]['Local']}}</th>
                                    </tr>
                                    {%endfor%}                            
                                </table>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <table class="table table-hover">
                                    <thead><tr>
                                        <th width="30%" class="left-col"><i class="fa fa-clock-o"></i>  Time</th>
                                        <th width="40%"><i class="fa fa-user"></i>  Activity </th>
                                        <th width="30%"><i class="fa fa-map-marker"></i>  Local</th>
                                    <tr></thead>
                                    {%for i in range(n_s2)%}
                                    <tr>
                                        <th>{{sch2.iloc[i]['Hours']}}</th>
                                        <th>{{sch2.iloc[i]['Activity']}}</th>
                                        <th>{{sch2.iloc[i]['Local']}}</th>
                                    </tr>
                                    {%endfor%}                            
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- latest BLog Section Begin -->
    <section id="Publications" class="latest-blog spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2 >Relevant Publications</h2>
                      <p>Prior publications on the impact of pulse oximetry on patient outcomes in the ICU</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-6">
                  <div class="latest-item set-bg" data-setbg="static/img/publications/1.jpg">
                      <div class="li-tag">Original Investigation</div>
                      <div class="li-text">
                          <h5><a target= "_blank" href="https://jamanetwork.com/journals/jamainternalmedicine/article-abstract/2794196">
                            Assessment of Racial and Ethnic Differences in Oxygen Supplementation Among Patients in the Intensive Care Unit
                          </a></h5>
                          <span><i class="fa fa-clock-o"></i>July 11, 2022</span>
                      </div>
                  </div>
                </div>
              <div class="col-lg-6">
                <div class="latest-item set-bg" data-setbg="static/img/publications/2.jpg">
                    <div class="li-tag">Original Investigation</div>
                    <div class="li-text">
                        <h5><a target= "_blank" href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2785794">
                          Analysis of Discrepancies Between Pulse Oximetry and Arterial Oxygen Saturation Measurements by Race and Ethnicity and Association With Organ Dysfunction and Mortality
                        </a></h5>
                        <span><i class="fa fa-clock-o"></i> November 3, 2021</span>
                    </div>
                </div>  
                </div>
             </div>
         </div>
      </div>
  </section>
  <!-- latest BLog Section End -->

  <!-- Previous Datathons Section Begin -->
      <section id="Datathons" class="latest-datathons spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 >Impressions form previous Datathons</h2>
                        <p>Health Datathons take place all around the world on a monthly basis</p>
                    </div>
                </div>
            </div>
  
            <div class="row">
                <div class="col-lg-6">
                    <div class="latest-item set-bg">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/AUlGF7jUXm4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-6">
                  <div class="latest-item set-bg">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/u3HLkS3lGz4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!-- latest BLog Section End -->
    
    <!-- Contact Section Begin -->
    <section id="Contact" class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2 >Contact</h2>
                        <p>Get directions to our Venue!</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Address:</span>
                            <p>Riverfront Office Park<br>1 Main Street, 12<sup>th</sup> Floor<br>Cambridge<br>MA, 02142, United States</p>
                        </div>
                    </div>
                    <div style="display:none;" class="cs-text">
                        <div class="ct-address">
                            <span>Contact:</span>
                            <p>
                                <a href="mailto:criticaldata@mit.edu">criticaldata@mit.edu??</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.077812302024!2d-71.08218628425165!3d42.36218094295974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370a472dac233%3A0xdf50cf25d8618173!2s1%20Main%20St%2C%20Cambridge%2C%20MA%2002142!5e0!3m2!1sen!2sus!4v1673310665276!5m2!1sen!2sus" 
                          height="400" width="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Partner Section Begin -->

    <section id="Partners" class="team-member-section spad">

        <div class="container">
            <div class="section-title">
                <h2 >Partners & Sponsors</h2>
                <p>Thank you for making this event possible!</p>
            </div>

            <div id="main_partner">
                <img src="static/img/partner-logo/main-partner.jpg" alt="">
            </div>

            <div class="partner-logo owl-carousel">
                {%for i in range(n_partners)%}
                <a target="_blank" href="{{partners.iloc[i]['URL']}}" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="{{partners.iloc[i]['Photo']}}" height= "80" width="80" alt="">
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>  

    </section>  
  
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">          

            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <ul>
                            <li><a href="#About">About</a></li>
                            <li><a href="#Mentors">Mentors</a></li>
                            <li><a href="#Schedule">Schedule</a></li>
                            <li><a href="#Publications">Background</a></li>
                            <li><a href="#Contact">Contact</a></li>
                            <li><a href="#Partners">Partners</a></li>
                        </ul>
                        <br>
                        <div class="ft-social">
                            <a target="_blank" href="https://criticaldata.mit.edu/"><i class="fa fa-globe"></i></a>
                            <a target="_blank" href="https://www.facebook.com/mitcriticalcontent/"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="https://twitter.com/mitcriticaldata?lang=en"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/mitcriticaldata"><i class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="https://www.instagram.com/mitcriticalcontent/?hl=en"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UC_AD5BgnvkPCr_shteIya1w"><i class="fa fa-youtube-play"></i></a>
                            <a target="_blank" href="https://github.com/MIT-Health-Datathon-2023"><i class="fa fa-github"></i></a>
                            <a target="_blank" href="mailto:criticaldata@mit.edu"><i class="fa fa-envelope"></i></a>
                        </div>
                        <div class="copyright-text"><p><br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
    <script> countdown.setFinalDate(new Date(2023, 5, 18));</script>
</body>

</html>