
<table class="table table-hover">
<thead><tr ><th width="10%"> Time </th><th width="20%"> Activity </th><th width="60%"> Topic </th><th width="10%"> Location </th><tr></thead>
{{ range .Site.Data.consortium.schedule }}
<tr><td>{{ .Time }}</td><td>
<a data-toggle="collapse" href="#collapse{{ .ID }}" role="button" aria-expanded="false" aria-controls="collapseExample">{{ .Activity }}</a></td><td>{{ .Topic }}<div class="collapse" id="collapse{{ .ID }}"><br><div class="card card-body">{{ .Bio }}</div></div></td><td>{{ .Location }}</td></tr>
{{end}}

</table>
